[submodule "StyleTTS2"]
	path = StyleTTS2
	url = https://github.com/semidark/StyleTTS2.git
	branch = main
[submodule "kokoro"]
	path = kokoro
	url = https://github.com/semidark/kokoro.git
	branch = main
